*{
    box-sizing: border-box;
    margin: 0;
    letter-spacing: 3px;
    font-family: "Nunito Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";;
}
body{
    background-image: url('./images/bg.jpg');
    background-position: left top;
    background-size: cover;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color:white;
    min-height: 100%;
}
#root{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: 1000px;
    min-height: 100vh;

}
main{
    max-width: 900px;
    text-align: center;
}

main{
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    width: 100vw;
}
h2, h5,h6,h4,.score{
    margin: 1em;
    font-size: 2.5vh;
    color: black;
    color: white;
}
h1{
    font-size: 3em;
}
#members_container>div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #e3e2e2;;
    font-size: 2em;
    padding: 1vh 0;
    color: #2196F3;
}
#timerLength, #scoreToWin {
    display: flex;
    justify-content: space-around;
    font-size: 3em;
    background-color: #e3e2e2;
}
#score_board>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

#timerLength>div,#scoreToWin>div{
    width: 33%;
    border: solid 1px gray;
}
#points_container, .flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

#score_board{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#now_is_playing {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#teams_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10%;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
}
/* 
#avatar_container{
    padding-bottom: 30vh;
} */

.picked{
background-color: orange;
color: white;
}
.not_picked{
    background-color: transparent;
}
input{
    width: 100%;
    font-size: 2.5vh;
    padding: 0.75rem 1.5rem;
}

.grid_3_columns{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}
.flex_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{

    cursor: pointer;
    margin: 5%;
    padding: 10px;
    max-width: 137px;
    min-width: 50px;
    height: auto;
}

.color_box{
    width: 10vh;
    height: 10vh;
    border: solid;
    border-radius: 50%;
    cursor: pointer;
    margin: 5%;
    box-shadow: 0 5px 10px 2px rgb(34 60 80 / 20%);
}
a{
    text-decoration: none;
    color: white;
    padding: 1em, 100%;
}
footer{
    position: fixed;
    bottom: 5px;
    width: 100%;

}
.pointer{
    cursor: pointer;
}
span{
    font-size: 4vh;
    padding: 0 10px;
}
.inqueue{
    color : #f58683;
}

.btn{
  border-radius: 20px;
  color: white;
  padding: 1em;
  text-align: center;
  margin-top: 2%;
  font-size: 2.5vh;
    background-color: #ffbb70;
    cursor: pointer;
}
.avatar {
    border: solid;
    border-radius: 50%;
    min-width: 80px;
    min-width: 160px;
    /* max-width: 200%; */
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    box-shadow: 0 5px 10px 2px rgb(34 60 80 / 20%);
}
.main_btn{
    width: 100%;
    background-color: #89bef6; 
}
.delete_team{
    background-color: #f58683;
    width: 100%;
}

.blue{
    background-color: #76b2f3;

}
.red{
    background-color: #f58683;

}
.green{
    background-color: #7ceaa2;

}
.white{
    background-color: white;

}
.yellow{
    background-color: #ffff72;

}
.pink{
    background-color: pink;

}
.orange{
    background-color: #ffbb70;

}
.black{
    background-color: #4e4a4a;
}
.aqua{
    background-color: #a7f3ee;
}


/* slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
}
#error1, #error2, #error{
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 1.3em;
    width: 100%;
}
.not_visible{
    display: none;
}